root = true

[*.{kt,kts}]
# noinspection EditorConfigKeyCorrectness
ktlint_function_naming_ignore_when_annotated_with = Composable
# noinspection EditorConfigKeyCorrectness
ktlint_standard_no-wildcard-imports = disabled
